// SCSS Variables

$primary-color: #4266f7;
$success-color: #16815d;
$warning-color: #ff7d00;
$error-color: #f53f3f;

$heading-color: #1d2129;
$text-color: #4e5969;
$text-color-secondary: #86909c;
$border-color: #c9cdd4;
$background-color: #f2f3f5;

$font-size-base: 14px;
$font-size-lg: 16px;
$font-size-sm: 12px;

$border-radius-base: 6px;
$border-radius-sm: 6px;

$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
