// SCSS Variables

$primary-color: #0066ff;
$success-color: #12b76a;
$warning-color: #fd8838;
$error-color: #ff5219;

$heading-color: #171a1d;
$text-color: #171a1d;
$text-color-secondary: #a2a3a5;
$border-color: #f0f1f2;
$background-color: #f2f1f6;

$font-size-base: 14px;
$font-size-lg: 16px;
$font-size-sm: 12px;

$border-radius-base: 10px;
$border-radius-sm: 8px;

$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
