package ${packageName}.${moduleName}.dto;

import lombok.Data;

import java.io.Serializable;
#if(${hasDate})
import java.time.LocalDateTime;
#end
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${functionName}新增/修改DTO
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${className}DTO implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.isInsert == 1 || $column.isEdit == 1)
    /**
     * $column.columnComment
     */
    private $column.javaType $column.javaField;

#end
#end
}
