package ${packageName}.${moduleName}.dto;

import lombok.Data;

import java.io.Serializable;
#if(${hasDate})
import java.time.LocalDateTime;
#end
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${functionName}查询条件DTO
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${className}Query implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.isQuery == 1)
    /**
     * $column.columnComment
     */
    private $column.javaType $column.javaField;

#end
#end
}
