<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mdframe.forge.plugin.system.mapper.SysUserTenantMapper">

    <select id="selectUserTenants" resultType="com.mdframe.forge.plugin.system.vo.SysUserTenantVO">
        SELECT sut.user_id,
               sut.tenant_id,
               t.tenant_name,
               t.tenant_status,
               t.expire_time,
               sut.member_type,
               sut.is_default,
               sut.status
        FROM sys_user_tenant sut
        INNER JOIN sys_tenant t
            ON t.id = sut.tenant_id
           AND t.del_flag = 0
        WHERE sut.user_id = #{userId}
        <if test="onlyEnabled != null and onlyEnabled">
          AND sut.status = 1
          AND t.tenant_status = 1
          AND (t.expire_time IS NULL OR t.expire_time > NOW())
        </if>
        ORDER BY sut.is_default DESC, t.id ASC
    </select>

</mapper>
