<template>
  <LowcodeRuntimePage
    class="${configKey}-page"
    :runtime-config="runtimeConfig"
    :sync-document-title="false"
  />
</template>

<script setup>
import LowcodeRuntimePage from '@/components/lowcode-runtime/LowcodeRuntimePage.vue'
import runtimeConfig from './runtime-config.json'

defineOptions({ name: '${componentName}' })
</script>
