<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mdframe.forge.plugin.generator.mapper.DataAuditFieldMapper">

    <sql id="Base_Columns">
        id, tenant_id, event_id, target_object_id, target_model_id, target_record_id, relation_key,
        field_path, field_code, column_name, field_label, field_type, field_metadata, change_type,
        source_type, before_state, after_state, before_value, after_value, before_display, after_display,
        value_protection, key_version, create_by, create_time, create_dept, update_by, update_time
    </sql>

    <sql id="Visible_Filter">
        <if test="visibleFieldCodes != null">
            AND field_code IN
            <foreach collection="visibleFieldCodes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
    </sql>

    <select id="selectFieldPage" resultType="com.mdframe.forge.plugin.generator.domain.entity.AiDataAuditField">
        SELECT
        <include refid="Base_Columns"/>
        FROM ai_data_audit_field
        WHERE tenant_id = #{tenantId}
          AND event_id = #{eventId}
        <if test="query != null and query.fieldCode != null and query.fieldCode != ''">
            AND (
                field_code = #{query.fieldCode}
                OR column_name = #{query.fieldCode}
                OR LOWER(REPLACE(field_code, '_', '')) = LOWER(REPLACE(#{query.fieldCode}, '_', ''))
                OR LOWER(REPLACE(IFNULL(column_name, ''), '_', '')) = LOWER(REPLACE(#{query.fieldCode}, '_', ''))
            )
        </if>
        <if test="query != null and query.relationKey != null">
            AND relation_key = #{query.relationKey}
        </if>
        <if test="query != null and query.targetRecordId != null and query.targetRecordId != ''">
            AND target_record_id = #{query.targetRecordId}
        </if>
        <include refid="Visible_Filter"/>
        ORDER BY relation_key ASC, target_record_id ASC, field_code ASC, id ASC
    </select>

    <select id="selectFieldById" resultType="com.mdframe.forge.plugin.generator.domain.entity.AiDataAuditField">
        SELECT
        <include refid="Base_Columns"/>
        FROM ai_data_audit_field
        WHERE tenant_id = #{tenantId}
          AND event_id = #{eventId}
          AND id = #{id}
        LIMIT 1
    </select>

    <select id="countVisibleFields" resultType="int">
        SELECT COUNT(1)
        FROM ai_data_audit_field
        WHERE tenant_id = #{tenantId}
          AND event_id = #{eventId}
        <include refid="Visible_Filter"/>
    </select>
</mapper>
